.wrapper {
    color: #b74b4b;
    font-size: 20px;
}

.wrapper p {
    color: green;
}

.wrapper:hover {
    color: #b74b4b;
    cursor: pointer;
}

.wrapper:hover a {
    color: #ffcccc;
}
h2,
h3 {
    font-size: 2rem;
    padding: 0;
    text-align: center; /* Center-align for better responsiveness */
}