.wrapper {
    color: #b74b4b;
    font-size: 20px;
}

.wrapper p {
    color: green;
}

.wrapper:hover {
    color: #b74b4b;
    cursor: pointer;
}

.wrapper:hover a {
    color: #ffcccc;
}
h2,
h3 {
    font-size: 2rem;
    padding: 0;
    text-align: center; /* Center-align for better responsiveness */
}

form {
  max-width: 400px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

input, textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 15px;
  padding: 10px;
  font-size: 1rem;
  background-color: #cc0000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ff0c0c;
}
