#skills h2, #skills h3, #skills h4 {
  color: #b74b4b;
  text-align: center;
}

#skills ul li {
  color: #eee;
  text-align: center;
}

#skills ul li:before {
  background-color: #b74b4b;
  box-shadow: 0 0 10px #b74b4b, 0 0 20px #b74b4b;

}
