/* CSS for Futuristic Design */

body {
  background-color: black;
  color: #b74b4b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  text-align: center;
}

.header .logo {
  color: #b74b4b;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}

#skills {
  margin-top: 100px;
  font-size: 30px;
}

#skills ul {
  list-style: none;
}

#skills ul li {
  font-size: 2rem;
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

#skills ul li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #b74b4b;
  border-radius: 50%;
  box-shadow: 0 0 10px #b74b4b, 0 0 20px #b74b4b;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #222222;
}

body::-webkit-scrollbar-thumb {
  background-color: #74b4bb;
  border-radius: 20px;
  border: 3px solid #0e0e0e;
}

a {
  transition: text-shadow 0.3s ease-in-out;
}

a:hover {
  text-shadow: 0 0 10px #b74b4b, 0 0 20px #74b4bb;
}


.Projects {
  margin-top: 100px;
  font-size: 30px;
}

.Projects ul {
  list-style: none;
}

.Projects ul li {
  font-size: 2rem;
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.Projects ul li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #b74b4b;
  border-radius: 50%;
  box-shadow: 0 0 10px #b74b4b, 0 0 20px #b74b4b;
}